.m-btn {
    display: flex;
    align-items: center;
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    font-family: GoogleSans-Regular;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}

    .m-btn:hover {
        background-color: #2FBE8E;
        cursor: pointer;
    }

    .m-btn .m-btn-icon {
        background-position: center;
    }

    .m-btn .btn-text {
        margin-left: 8px;
    }

    .m-btn .m-btn-content .btn-cancel {
        color: #000000;
    }

.m-second-button {
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    border-radius: 4px;
    height: 40px;
    color: #000000;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

    .m-second-button:hover {
        background-color: #e9ebee;
    }

.m-btn-refresh {
    background-image: url('/content/icon/refresh.png');
    background-repeat: no-repeat;
    width: 40px;
    background-position: center;
}
.editIcon {
    border-radius: 10px;
    color: #fff;
    background-color: #337ab7;
    width: 75px;
    height: 29px;
    border: 1px solid #2e6da4;
}
.deleteIcon {
    border-radius: 10px;
    color: #fff;
    width: 75px;
    height: 29px;
    border: 1px solid #ac2925;
    background-color: #c9302c;
   
}