.content {
    position: absolute;
    top: 61px;
    left: 221px;
    width: calc(100% - 253px);
    background-color: #ffffff;
    padding:16px;
}

/*Page tile*/
    .content .header-content {
        padding: 8px 0 16px 0;
        display: flex;
        align-items: center;
        height: 15px;
        margin-bottom: 8px;
    }
        .content .header-content .content-feature{
            position: absolute;
            right: 16px;
            display: flex;
        }

        /*filter bar*/
        .content .filter-bar {
        }
        .box{
            position: absolute;
            left: 16px;
            display: flex;
        }


/* Paging */
.content .paging-bar {
    height: 56px;
}
#refreshPage{
    margin-right:8px;
}
#search {
    border-radius: 19px;
}