.box-toast-msg {
    display: none;
    position: fixed;
    background-color: #ffffff;
    padding: 24px;
    color: #019160;
    font-size: 20px;
    bottom: 24px;
    text-align: center;
    right: 24px;
    border: 1px solid #ccc;
}


#toastMsg {
    display: none;
  
    border-color: #349a4a;
    border: 1px solid #2FBE8E;
    border-radius: 4px;
    font-size: 16px;
    color: #2FBE8E;
    font-weight: bold;
    position: fixed;
    top: 16px;
    right: 20px;
    padding: 8px 16px;
}

    .icon-success {
        background-image: url('/content/icon/successv1.png');
        width: 20px;
        height: 20px;
        float: left;
        margin-right: 8px;
        background-size: contain;
  
    }
    .icon-failure {
        background-image: url('/content/icon/failure.png');
        width: 20px;
        height: 20px;
        float: left;
        margin-right: 8px;
        background-size: contain;
        
    }
    .color-success {
        background-color:#029f44;
    }
    .color-failure {
        background-color: #9f2a22;
    }

#text-msg {
    font-size: 13px;
    color: #fff;
    font-weight: 400 !important;
    margin-top: 4px;
    margin-left: 28px;
}
